<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="app.js"></script>
    <title>404 Error!</title>
</head>
<body>
  <div class = "container">
        <div class="searchbar">
          <form action="/" method="post">
            <input type="text" name="searchbar" placeholder="enter your city here">
            <input type="submit" value="Search">
        </form>
        </div>
        <div>
            <h1>Whoops! Seem's like you put the wrong city there.</h1>
        </div>

    
</body>
</html>