html{
    font-family: 'Quicksand',sans-serif;
    background-color: #28abb9;
}



input[type=text]{
    padding: 15px 15px;
    border: none;
    border-radius: 20px;
    background-color:#2595a1;
    color: white;
}

footer{
    text-align: center;
    margin-top: 50px;
}


.no-data{
    margin: auto;
 }

.container{
    display: grid;
    text-align: center;
    position: relative;
    padding-bottom: 2rem;
    margin-top: 0;
    margin-bottom: 2rem;
    
}

.container .bottom-container{
    margin: auto;
}


/* Top Container */

#searchbar{
    display: grid;
    justify-content: center;
    align-items: center;
}

#searchbar :focus{
    outline:none;
}

::placeholder{
    color: white;
    text-align: center;
}

/* middle-container */

.middle-container{
    display: grid;
    align-content: center;
    color: #effad3;
    font-size: 20px;
}

.cityname{
    display: flex;
    width: 300px;
    margin: auto;
    justify-content: flex-start; 
}

.cityname > h1{

    margin-bottom: 0;
    
}

.date h1{
    margin-top: 0;
}
.icon{
    display: grid;
    margin: auto;   
}

/* bottom container */

.bottom-container{
    display: grid;
    grid-template-columns: 3;
    grid-column: 1/2;
    justify-content: center;
    background-color: #2d6187;
    color: bisque;
    width: 33%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-detail{
    display: grid;
    align-content: flex-start;
    font-weight: 300;
    font-size: 3.5rem;
    text-align: center;
}
.detail{
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: auto auto;
  
}

.detail p{
    font-weight: 400;
    font-size: 1.5rem;
}

.detail .wind{
    padding: 0 3rem;
}

.sunrise{
    padding: 0 30px;
}

.temp p{
    text-align: center;
    margin:0;
}

.description p{
    margin: 0;
}

.wind{
    border-bottom-style: solid;
}

.humidity{
    border-bottom-style: solid;
}


.error{
    display: grid;
    justify-content: center;
    align-content: center;
    color: #effad3;
    font-size: 20px; 
}

