html{
    font-family: 'Quicksand',sans-serif;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

input[type=text]{
    padding: 15px 15px;
    border: none;
    border-radius: 20px;
    background-color:#2595a1;
    color: white;
}

.cityname{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10wv;
}

.container{
    position: relative;
    background-color: #28abb9;
}

.main-detail{
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 3.5rem;
    text-align: center;
  
}

.no-data{
   padding-left: 25px;
}


.detail{
    display: flex;
    flex-direction: row;
    margin: 10px;
    text-align: center;
}

.detail p{
    font-weight: 400;
    font-size: 1.5rem;
}

.detail .wind{
    padding: 0 3rem;
}


.bottom-container{
    display: flex;
    justify-content: center;
    background-color: #2d6187;
    color: bisque;
    height: 175px;    
}

.middle-container{
    height: 150px;
    display: flex;
    justify-content: center
}



.temp{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.temp p{
    text-align: center;
    margin:0;
}

.description p{
    margin: 0;
}


#searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#searchbar :focus{
    outline:none;
}

::placeholder{
    color: white;
    text-align: center;
}
